

@{
    ViewData["Title"] = "NotAuthorized";
}

<div class="text-center">

    <a asp-action="Index" asp-controller="Products">

        <img src="~/images/404-error-page.jpg" width="500" alt="Not Authorized" />
        <h1 class="alert alert-danger mt-2">SORRY, PAGE NOT FOUND!</h1>


    </a>


</div>
