

@{
    ViewData["Title"] = "NotAuthorized";
}

<div class="text-center">

    <a asp-action="Index" asp-controller="Products">

        <img src="~/images/NOTAUTHORIZED.jpg" width="500" alt="Not Authorized" />
        <h1 class="alert alert-danger mt-2">YOU AREN'T AUTHORIZED TO PERFORM THIS ACTION!</h1>


    </a>


</div>



